.tile {
	width: 36px;
	height: 36px;
	background: #383838;
}

.tile-wall {
	background-image: url("media/wall.gif");
}

.tile-space {

	background: #2a2a2a;
}

.tile-goal {
	background-image: url("media/goal.gif");
}

.entity-player {
	background-image: url("media/player.gif");
}

.entity-block {
	background-image: url("media/block.gif");
}

.entity-block-goal {
	background: green;
}